:root {
    --bg-color: #FFF;
    --bg-color-secondary: #C1CFFF;
    --bg-color-tertiary: #E9E9ED;
    --text-color: #000;
    --text-color-secondary: #2050FF;
    --text-color-tertiary: #1E3FB3;
    --text-color-placeholder: #999;
    --input-bg-color: #E9E9ED;
    --input-bg-secondary: #d0d0d7;
    --input-bg-tertiary: #b1b1b9;
    --input-font-size: 1.5em;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background: white;
    font-family: 'Noto Sans JP', sans-serif;
    background: var(--bg-color);
    color: var(--text-color);
}

input {
    font-size: var(--input-font-size);
    font-family: 'Noto Sans JP', sans-serif;
    background: var(--bg-color-tertiary);
    color: black;
    border: none;
}

input:placeholder {
    color: var(--text-color-placeholder);
    opacity: 1;
}

button {
    font-size: var(--input-font-size);
    font-family: 'Noto Sans JP', sans-serif;
    border: none;
}

button:hover {
    background: var(--input-bg-secondary);
}

button:hover:active {
    background: var(--input-bg-tertiary);
}

ul {
    margin: 0;
    margin-top: 1vh;
}

li {
    list-style: none;
    color: var(--text-color);
}

li:before {
  /* right triangle bullet */
  content:'\25B6';
  display: block;
  position: relative;
  max-width: 0;
  max-height: 0;
  left: -12px;
  bottom: -6px;
  color: var(--text-color-secondary);
  font-size: 0.5em;
}

hr {
    width: 100%;
    height: 1px;
    background: var(--bg-color-tertiary);
    border: none;
    margin: 0;
}

.container {
    margin-top: 3vh;
    text-align: center;
}

.header {
    padding: .5vh;
    background: var(--bg-color-secondary);
    color: var(--text-color-secondary);
    border-radius: 10px;
    font-size: 2em;
    font-weight: 700;
}

.result-list {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-top: 3vh;
}

.result {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2vh 0;
    padding: 0.5vh 0;
    background: var(--bg-color);
}

.result-term {
    font-size: 2em;
    color: var(--text-color);
}

.result-term-reading {
    color: var(--text-color-secondary);
}

.result-kanji {
    margin: 0;
    padding: 0;
    color: var(--text-color-secondary);
    border-bottom: 2px dotted black;
    border-color: var(--text-color-secondary);
    cursor: pointer;
}

.result-kanji-segment-reading {
    font-size: 0.5em;
    transform: translate(42px, 18px);
}

